# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Desktop\SYSC4806-Lab5-Adam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
